.cart-drop-down {
  border: 1px solid black;
  padding: 20px 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 260px;
  height: 340px;
  top: 85px;
  right: 55px;
  background-color: white;
  border-radius: 25px;

  button {
    color: white;
    background-color: black;

    &:hover {
      color: black;
      background-color: #efefef;
    }
  }
}
