.checkout-item {
  display: flex;
  padding: 25px 40px;
  border: 4px solid #efefef;
  border-radius: 8px;
  justify-content: space-between;

  .item-meta {
    display: flex;

    .product-image {
      width: 15%;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .item-modification {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      font-size: 16px;
      justify-content: center;

      .quantity {
        display: flex;
        align-items: center;
        margin: 8px 0;
        i {
          cursor: pointer;
          margin: 0 5px;
        }
      }

      .remove {
        cursor: pointer;
        color: red;
        align-self: flex-start;
      }
    }
  }

  .price {
    font-size: 20px;
    font-weight: bold;
  }
}
